// COLORS
$primary-color: #ff9234;
$secondary-color: #ffcd3c;

$white-color: #393e46;

$dark-grey: #393e46;

$dark-blue-text: #f4f6ff; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
